In [1]:
import numpy as np
import pandas as pd

frame=pd.DataFrame(np.arange(8).reshape((2,4)),
    index=['three','one'],
    columns=['d','a','b','c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [5]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [10]:
se2=pd.Series([4,np.nan,7,-3,2])
se2.sort_values(ascending=False)

2    7.0
0    4.0
4    2.0
3   -3.0
1    NaN
dtype: float64

In [11]:
frame2=pd.DataFrame({'b':[4,7,-3,2],
              'a':[0,1,0,1]})
frame2

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [14]:
frame2.sort_values(by=['a','b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [19]:
se3=pd.Series([7,-5,4,2,0,4])
display(se3)
se3.rank(ascending=False,method='average')

0    7
1   -5
2    4
3    2
4    0
5    4
dtype: int64

0    1.0
1    6.0
2    2.5
3    4.0
4    5.0
5    2.5
dtype: float64