In [2]:
import pandas as pd 
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['b', 'd', 'e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  0.031385  0.676146  0.224133
台中  0.384067  0.762669  1.768266
台南  1.254246 -0.301835  1.012686
高雄  0.427331 -0.063727 -0.501036

In [3]:
np.abs(frame)

           b         d         e
台北  0.031385  0.676146  0.224133
台中  0.384067  0.762669  1.768266
台南  1.254246  0.301835  1.012686
高雄  0.427331  0.063727  0.501036

In [4]:
display(frame)
display(frame.sum())
display(frame.sum(axis=1))

           b         d         e
台北  0.031385  0.676146  0.224133
台中  0.384067  0.762669  1.768266
台南  1.254246 -0.301835  1.012686
高雄  0.427331 -0.063727 -0.501036

b    2.097029
d    1.073253
e    2.504048
dtype: float64

台北    0.931664
台中    2.915002
台南    1.965097
高雄   -0.137432
dtype: float64

In [5]:
for item in frame.loc['台北']:
    print(item)

0.03138546204023373
0.6761457551519979
0.22413276189218098

In [8]:
def abc(s:pd.Series):
    return pd.Series([s.max(),s.min()],index=['最大','最小'])
frame.apply(abc,axis=1)

          最大        最小
台北  0.676146  0.031385
台中  1.768266  0.384067
台南  1.254246 -0.301835
高雄  0.427331 -0.501036