In [1]:
import pandas as pd 
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['b', 'd', 'e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.424519 -0.664589  0.110297
台中 -0.652730  0.291590  0.882616
台南 -0.932824  0.571768  1.712056
高雄 -0.010652 -0.785139  1.462135

In [2]:
np.abs(frame)

           b         d         e
台北  0.424519  0.664589  0.110297
台中  0.652730  0.291590  0.882616
台南  0.932824  0.571768  1.712056
高雄  0.010652  0.785139  1.462135

In [4]:
display(frame)
display(frame.sum())
display(frame.sum(axis=1))

           b         d         e
台北 -0.424519 -0.664589  0.110297
台中 -0.652730  0.291590  0.882616
台南 -0.932824  0.571768  1.712056
高雄 -0.010652 -0.785139  1.462135

b   -2.020725
d   -0.586370
e    4.167105
dtype: float64

台北   -0.978811
台中    0.521476
台南    1.351000
高雄    0.666345
dtype: float64

In [6]:
for item in frame.loc['台北']:
    print(item)

-0.4245193943090083
-0.664588859065051
0.11029708073753387