In [2]:
import numpy as np
import pandas as pd
scores=np.random.randint(60,100,size=(50,5))
students=pd.DataFrame(scores,index=range(1,51),columns=["國文","英文","數學","地理","歷史"])
students

    國文  英文  數學  地理  歷史
1   84  62  94  95  80
2   69  92  61  61  82
3   82  77  80  76  92
4   89  97  70  75  69
5   97  75  78  96  67
6   83  83  82  99  91
7   75  82  77  60  62
8   88  66  78  86  92
9   86  83  94  77  63
10  74  96  89  60  68
11  89  71  76  88  99
12  77  93  91  60  91
13  72  83  87  86  78
14  64  94  81  86  67
15  77  64  91  69  96
16  77  81  73  81  85
17  74  93  93  97  79
18  94  60  81  94  87
19  72  99  73  91  68
20  67  75  82  97  80
21  91  91  76  81  83
22  97  87  88  72  80
23  96  99  68  68  84
24  61  68  76  71  64
25  99  63  61  79  79
26  62  66  97  98  79
27  82  92  82  71  83
28  88  68  73  96  66
29  74  60  66  93  97
30  93  62  64  86  98
31  93  91  82  89  82
32  74  69  73  99  82
33  78  73  82  77  80
34  66  71  85  70  90
35  97  82  86  61  67
36  68  85  78  72  91
37  66  81  98  97  97
38  63  67  61  90  99
39  60  73  95  69  77
40  95  65  64  84  96
41  77  68  68  99  70
42  93  64  88  66  99
43  72  62  68  62  88
44  67  83  82  87  70
45  62  65  84  83  69
46  90  78  79  95  86
47  81  69  81  68  99
48  61  90  75  95  88
49  88  89  96  92  85
50  83  80  76  84  68

In [6]:
students[["國文","英文"]]

    國文  英文
1   84  62
2   69  92
3   82  77
4   89  97
5   97  75
6   83  83
7   75  82
8   88  66
9   86  83
10  74  96
11  89  71
12  77  93
13  72  83
14  64  94
15  77  64
16  77  81
17  74  93
18  94  60
19  72  99
20  67  75
21  91  91
22  97  87
23  96  99
24  61  68
25  99  63
26  62  66
27  82  92
28  88  68
29  74  60
30  93  62
31  93  91
32  74  69
33  78  73
34  66  71
35  97  82
36  68  85
37  66  81
38  63  67
39  60  73
40  95  65
41  77  68
42  93  64
43  72  62
44  67  83
45  62  65
46  90  78
47  81  69
48  61  90
49  88  89
50  83  80

In [12]:
students[0:3]

   國文  英文  數學  地理  歷史
1  84  62  94  95  80
2  69  92  61  61  82
3  82  77  80  76  92

In [18]:
students.loc[50],students.iloc[49]

(國文    83
 英文    80
 數學    76
 地理    84
 歷史    68
 Name: 50, dtype: int64,
 國文    83
 英文    80
 數學    76
 地理    84
 歷史    68
 Name: 50, dtype: int64)

In [16]:
students.loc[1:5],students.iloc[0:5]

(   國文  英文  數學  地理  歷史
 1  84  62  94  95  80
 2  69  92  61  61  82
 3  82  77  80  76  92
 4  89  97  70  75  69
 5  97  75  78  96  67,
    國文  英文  數學  地理  歷史
 1  84  62  94  95  80
 2  69  92  61  61  82
 3  82  77  80  76  92
 4  89  97  70  75  69
 5  97  75  78  96  67)